<h1>Find an Animal</h1>

<section>
  <h2>Find an Animal by Name</h2>
<!-- TODO Restyle Page Layout Later -->
  <p>
    Search for an animal by its name using the input field below.
  </p>

  <div>
    <label for="animalName"> Animal Name </label>

    <input
      id="animalName"
      type="text"
      [formControl]="searchName"
      (keyup.enter)="findAnimalByName()"
    >

    <button
      type="button"
      (click)="findAnimalByName()"
      [disabled]="searching"
    >
      {{ searching ? 'Searching...' : 'Search' }}
    </button>
  </div>

  <p *ngIf="searchError">
    {{ searchError }}
  </p>

  <app-animal-card
    *ngIf="selectedAnimal" 
    [animal]="selectedAnimal">
  </app-animal-card>
  
</section>

<hr>

<section>
  <h2>Find a Service Animal Near Me</h2>

  <p>
    Enter a ZIP code to find available service animals near your location.
  </p>
</section>